<h2 class="new-post">New post</h2>
<div class="box-container-post"
<%= form_with model: @post, url: user_posts_path do |form| %>
  <%= form.text_field :title, class: 'form-field' %>
  <%= form.text_area :text, class: 'form-text-area' %>
  </div>
  <%= form.submit "Register", class: 'button-submit' %>
<% end %>